@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
button{
    padding: 5px 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.08);
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

/* navigation */
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.08);
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    padding: 10px;
    background: #fff;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar-icon{
    font-size: 32px;
}

/* hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: #149f39;
    padding: 5px 10px;
    color: #fff;
    align-self: flex-start;
}
.hero-content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore-btn{
    background-color: #ffc066;
    align-self: flex-start;
    font-size: 25px;
}

/* Feature section */
.features{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 20px;
}
.feature{
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
}
.feature img{
  width: 72px;
}
.feature:hover{
  box-shadow: 5px 5px 5px 5px rgba(1, 1, 1, 0.08);
  transition: 0.2s ease-in-out;
}
.divider{
  border: 1px solid #ccc;
  margin: 20px 0;
}

/* menu section */
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  margin: 50px 0;
}
.menu .tag{
  align-self: center;
  border: none;
  box-shadow: 5px 5px 5px 5px rgba(1, 1, 1, 0.08);
  font-size: 20px;  
}
.menu h2{
  font-size: 30px;
  font-weight: 400;
}

/* grid section */
.grid-img{
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.grid-img:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.grid{
  display: grid;
  gap: 10px;
  grid-template-areas:
   "I1 I1 I2 I3"
   "I1 I1 I2 I7"
   "I4 I5 I6 I7";
}
.item1{
  grid-area: I1;
}
.item2{
  grid-area: I2;
}
.item3{
  grid-area: I3;
}
.item4{
  grid-area: I4;
}
.item5{
  grid-area: I5;
}
.item6{
  grid-area: I6;
}
.item7{
  grid-area: I7;
}

/* media styling */
@media (max-width:786px) {
  /* hero section */
    .hero {
      flex-direction: column;
    }
    .hero-image {
      display: flex;
      justify-content: center;
    }
    .hero-image img {
      width: 80%;
    }
    .hero-content {
      gap: 10px;
      padding: 20px;
    }
    .hero-content h1 {
      font-size: 30px;
    }

    /* feature section */
    .features{
      flex-direction: column;
    }
    .feature{
      flex-direction: column;
    }

    /* grid section */
    .grid{
      padding: 10px;
    }
    .grid-img{
      border-radius: 0px;
    }
}