*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    margin: 0 auto;
    max-width: 900px;
}
.apply-box{
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
}