*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(21, 21, 96);
}

.container{
    margin: 0 auto;
    max-width: 900px;
}

.apply-box{
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
}
.apply-box h1{
    color:rgb(21, 21, 96);
    font-size: 45px;
    text-align: center;
}

.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 200px , 1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 19px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
    border: 1px solid #ccc;
}
input,textarea,select:focus{
    outline-color: red;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top : 20px;
}
button{
    font-size: 15px;
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
button:hover{
    font-size: 18px;
    background-color: #ccc;
    color: red;
    border: 2px solid red;.button-container{
        display: flex;
        justify-content: flex-end;
        margin-top : 20px;
    }
    button{
        font-size: 15px;
        background-color: red;
        border: transparent solid 2px;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
        transition: 0.3s ease-in;
    }
    button:hover{
        font-size: 18px;
        background-color: #ccc;
        color: red;
        border: 2px solid red;
        transition: 0.3s ease-out;
    }
    transition: 0.3s ease-out;
}